@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c352b;
  --foreground: #171717;
  --color: #ededed;
  --blur: 420px; /* Define the blur intensity */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c352b;
    --foreground: #ededed;
    --color: #ededed;
    --blur: 420px; /* Adjust blur intensity for dark mode */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif, poppins;
  color: var(--color);
  backdrop-filter: blur(var(--blur)); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(var(--blur)); /* For Safari support */
}

.text-secondary {
  color: #e9f8ed;
}
